body{
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ADFF2F;
    background-image: url('./img/snake-image.jpg');
    border-image-width: 95vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

canvas {
    border-radius: 5px;
    border: 2px solid darkolivegreen;
}

.snake-title {
    background-color: #2F4F4F;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

h6 {
    margin-bottom: 0;
}